<app-navbar></app-navbar>
<div class="sidebar-menu">
  <button class="section-header">Centro de Custo</button>
  <div class="menu-items">
    <button>Listar Centro de Custo</button>
    <button>Cadastrar Centro de Custo</button>
    <button>Atualizar Centro de Custo</button>
    <button>Deletar Centro de Custo</button>
  </div>
  <button class="section-header">Contrato</button>
  <div class="menu-items">
    <button>Listar Contratos</button>
    <button>Cadastrar Contratos</button>
    <button>Atualizar Contratos</button>
    <button>Deletar Contrato</button>
  </div>
</div>
