.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #333;
  padding: 10px;
}

.nav-links {
  display: flex;
  gap: 10px;
}

.nav-links button {
  background-color: #777;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.nav-links .active {
  background-color: #555;
}

.nav-links button:hover {
  background-color: #555;
}

.profile button {
  background-color: #777;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.profile button:hover {
  background-color: #555;
}
