
<div class="container">


<app-sidebar-menu-rh></app-sidebar-menu-rh>

<div class="informacoes-basicas">

  <h2>Informações Básicas</h2>

  <div class="form-container">

    <form [formGroup]="basicInfoForm">

      <div class="form-row">
      <label>Nome</label>
      <input type="text" />
    </div>
    <div class="form-row">
      <label>Data Nascimento</label>
      <input type="date" />
    </div>
    <div class="form-row">
      <label>CPF</label>
      <input type="text" />
    </div>
    <div class="form-row">
      <label>RG</label>
      <input type="text" />
    </div>
    <div class="form-row">
      <label>Data Expedição</label>
      <input type="date" />
    </div>
    <div class="form-row">
      <label>Orgão Expedidor</label>
      <input type="text" />
    </div>
    <div class="form-row">
      <label>NIS</label>
      <input type="text" />
    </div>
    <div class="form-row">
      <label>CBO</label>
      <input type="text" />
    </div>
    <div class="form-row">
      <label>CTPS</label>
      <input type="text" />
    </div>
    <div class="form-row">
      <label>Reservista</label>
      <input type="text" />
    </div>
    <div class="form-row">
      <label>Escolaridade</label>
      <input type="text" />
    </div>
    <div class="form-row">
      <label>Estado Civil</label>
      <input type="text" />
    </div>
    <div class="form-row">
      <label>Naturalidade</label>
      <input type="text" />
    </div>
    <div class="form-row">
      <label>Nacionalidade</label>
      <input type="text" />
    </div>
    <div class="form-row">
      <label>Cor</label>
      <input type="text" />
    </div>
    <div class="form-row">
      <label>Mãe</label>
      <input type="text" />
    </div>
    <div class="form-row">
      <label>Pai</label>
      <input type="text" />
    </div>
    <div class="form-row">
      <label>Sexo</label>
      <input type="text" />
    </div>
    <div class="form-row">
      <label>Título</label>
      <input type="text" />
    </div>
    <div class="form-row">
      <label>Zona</label>
      <input type="text" />
    </div>
    <div class="form-row">
      <label>Seção</label>
      <input type="text" />
    </div>
    </form>
  </div>
  </div>

</div>
