<app-navbar></app-navbar>

<div class="sidebar-menu">
  <button class="section-header">Receitas</button>
  <div class="menu-items">
    <button>Listar Receitas</button>
    <button>Cadastrar Receitas</button>
    <button>Atualizar Receitas</button>
    <button>Deletar Receitas</button>
  </div>



  <button class="section-header">Despesas</button>
  <div class="menu-items">
    <button>Listar Despesas</button>
    <button>Cadastrar Despesas</button>
    <button>Atualizar Despesas</button>
    <button>Deletar Despesas</button>
  </div>
</div>
