<nav class="navbar">
    <div class="logo">
      <!-- Coloque o logo aqui -->
    </div>
    <div class="nav-links">
      <button routerLink="/home">Início</button>
      <button routerLink="/recursos-humanos">Recursos Humanos</button>
      <button routerLink="/financeiro">Financeiro</button>
      <button routerLink="/fornecedor">Fornecedores</button>
      <button routerLink="/clientes">Clientes</button>
      <button routerLink="/centro-custo">Centro de Custo</button>
      <button>Procedimentos</button>
      <button>Produção</button>
    </div>
    <div class="profile">
      <button>Sair</button>
    </div>
  </nav>


